.layout-wrapper {
    margin: 0 auto;
    display: grid;

    grid-template-rows: repeat(2, 800px) 1fr 1fr 1fr 200px 200px;
}

.navbar {
    grid-column: 1 / -1;
}

.header-section {
    grid-column: 1 / -1;
}

.about-layout {
    grid-column: 1 / -1;
}

.portfolio {
    grid-column: 1 / -1;
}

.blog {
    grid-column: 1 / -1;
}

.team {
    grid-column: 1 / -1;
}

.contact {
    grid-column: 1 / -1;
}